* {
    margin: 0;padding: ;
}



body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #333;

}

.conteudo {
    width: 80%;
    margin: 0 auto;
}

.cabecalho {
    background-image: url(../img/inha.gif);
    display: flex;
    justify-content: space-between;
    padding: 20 0;
}

.foto {
    width: 150px;height: 150px;
    border-radius: 50%;
    margin-right: 10px;
}


.info {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
}

.contatos {
    margin-bottom: 30px;
}

.dados-pessoais{
    margin-bottom: 10px;
    font-size: 15px;
}

.redes-sociais {
    display: flex;
    justify-content: space-between;
    width: 100px;
    font-size: 20px;
}

a {
    color: black;
}



 /* Conteudo */

.experiencias {
    margin-top: 50px;
}

.experiencia {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.esquerda {
    width: 20%;
    text-align: right;
    
}

.titulo-sessao , .subtitulo-sessao{
font-size: 20px;
text-transform: uppercase;
margin-bottom: 10px;
    font-size: 17px;
}

.subtitulo-sessao {
    font-size: 15px;
}

.direita {
    width: 78%;
}

.titulo-texto {
    margin-bottom: 10px;
    font-size: 17px;
}


.habilidades {
    display: flex;
    justify-content: space-between;

}

.barra {

    height: 10px;
    background: #000000;
    border-radius: 5px;

    
}



.HB-100 {
    width: 100%;
}

.HB-90 {
    width: 90%;
}

.HB-80 {
    width: 80%;
}

.HB-70 {
    width: 70%;
}

.HB-60 {
    width: 60%;
}

.HB-50 {
    width: 50%;
}

.skill {
    width: 48%;
    
}

.skill div {
    display: flex;
}

.skill div span {
    margin-right: 30px;
}





/*lá em baixo */

.rodape {
    background: #333;
    color: #f1f1f1;;
    text-align: center;
    padding: 20px;
}


form {
    width: 100%;
    margin: 0 0 30px 150px;
    display: flex;
   justify-content: center;
}

input, textarea {
    border:2px solid #ccc; 
    padding: 3px;
}

input {
    border-radius: 50px;
}

textarea {
    border-radius: 15px;
}

.nomeAssunto {
    display: flex;
    flex-direction: column;
    margin-right: 35px;
    
}

.nomeAssunto .nome {
    margin-bottom: 10px;
}

.mensagemBotao .mensagem {
    height: 50px;
    width: 200px;
    margin-right: 10px;
    resize: none;
}

.mensagemBotao {
    display: flex;
    align-items: flex-end;
}

