* {
    margin: 0;padding: ;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #333;

}

.conteudo {
    width: 80%;
    margin: 0 auto;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 20 0;
}

.foto {
    width: 150px;height: 150px;
    border-radius: 50%;
    margin-right: 10px;
}

.info {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
}

.contatos {
    margin-bottom: 30px;
}

.redes-sociais {
    display: flex;
    justify-content: space-between;
    width: 100px;
    font-size: 20px;
}

a {
    color: black;
}

.experiencias {
    margin-top: 30px;
}

.experiencia {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.esquerda {
    width: 20%;
    text-align: right;
    
}

.titulo-sessao , .subtitulo-sessao{
font-size: 20px;
text-transform: uppercase;
margin-bottom: 10px;
    font-size: 17px;
}

.subtitulo-sessao {
    font-size: 15px;
}

.direita {
    width: 78%;
}

.titulo-texto {
    margin-bottom: 10px;
    font-size: 17px;
}

.rodape {
    background: #333;
    color: #f1f1f1;;
    text-align: center;
    padding: 20px;
}

